.Header_logo {
    float: left !important;
    margin-left: 1em;
    font-size: larger
}

.Header_logo > img {
    height: auto;
    max-width: 12%;
}

.Header_logo > span {
    color: white;
}

.Header_header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Header_header > ul > li {
    float: right;
}

.Header_header > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Header_header > ul > li > a:hover {
    background-color: #111;
}