.sidebar_container {
    /* min-width: 290px;
    max-width: 290px;
    z-index: 1; 
    background-color: #333; 
    overflow-x: hidden; 
    padding-top: 20px; */
    background-color: #333;
    width: 350px;
    overflow-x: hidden; 
}

.sidebar_sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidebar_sidenav a:hover {
    color: #928c8c;
}